<footer class="site_footer">
        <div class="footer_widget_area">
          <div class="container">
            <div class="row">
              <div class="col col-lg-3 col-md-6 col-sm-6">
                <div class="footer_widget">
                  <div class="site_logo">
                    <a class="site_link" href="index.html">
                      <img class="col-2 order-1" src="https://typ-drupal-media.s3.us-east-1.amazonaws.com/images/logo/favourite_icon_2.svg" alt="The Young Prof -  A brutalist approach to escaping the rat race.">
                      <strong class="site_link_text site_link_footer col-10 order-2">The Young Prof</strong>
                    </a>
                  </div>
                  <p>
                    Raw, practical guides and tools to escaping modern slavery. No BS, just tactics that work.
                  </p>
                  <ul class="social_links unordered_list">
                    <li>
                      <a href="https://www.instagram.com/typ.theyoungprof" target="_blank" rel="noopener noreferrer" ><i class="fab fa-instagram" aria-hidden="true"></i></a>
                    </li>
                    <li>
                      <a href="https://www.youtube.com/@theyoungprof" target="_blank" rel="noopener noreferrer" ><i class="fab fa-youtube" aria-hidden="true"></i></a>
                    </li>
                    <li>
                      <a href="https://www.reddit.com/r/theyoungprof/" target="_blank" rel="noopener noreferrer" ><i class="fab fa-reddit" aria-hidden="true"></i></a>
                    </li>
                    <li>
                      <a href="https://www.linkedin.com/company/the-young-prof/" target="_blank" rel="noopener noreferrer" ><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col col-lg-6">
                <div class="row">
                  <div class="col col-md-4 col-sm-4">
                    <div class="footer_widget">
                      <h3 class="footer_widget_title">Escape Plan</h3>
                      <ul class="page_list unordered_list_block">
                        <li>
                          <a href="mentor_details_aj_dysick.html" onclick="console.log('clicked')">
                            <span class="item_icon"><i class="fas fa-caret-right"></i></span>
                            <span class="item_text">Manifesto</span>
                          </a>
                        </li>
                        <li>
                          <a href="coming_soon.html">
                            <span class="item_icon"><i class="fas fa-caret-right"></i></span>
                            <span class="item_text">Success Stories</span>
                          </a>
                        </li>
                        <li>
                          <a href="mentor.html">
                            <span class="item_icon"><i class="fas fa-caret-right"></i></span>
                            <span class="item_text">Mentors</span>
                          </a>
                        </li>
                        <li>
                          <a href="pricing.html">
                            <span class="item_icon"><i class="fas fa-caret-right"></i></span>
                            <span class="item_text">Start Mentorship</span>
                          </a>
                        </li>
                        <li>
                          <a href="resources.html">
                            <span class="item_icon"><i class="fas fa-caret-right"></i></span>
                            <span class="item_text">Resource Library</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col col-md-4 col-sm-4">
                    <div class="footer_widget">
                      <h3 class="footer_widget_title">Learn</h3>
                      <ul class="page_list unordered_list_block">
                        <li>
                          <a href="resources.html">
                            <span class="item_icon"><i class="fas fa-caret-right"></i></span>
                            <span class="item_text">Guides</span>
                          </a>
                        </li>
                        <li>
                          <a href="resources.html">
                            <span class="item_icon"><i class="fas fa-caret-right"></i></span>
                            <span class="item_text">Tools</span>
                          </a>
                        </li>
                        <li>
                          <a href="coming_soon.html">
                            <span class="item_icon"><i class="fas fa-caret-right"></i></span>
                            <span class="item_text">Events</span>
                          </a>
                        </li>
                        <li>
                          <a href="signup.html">
                            <span class="item_icon"><i class="fas fa-caret-right"></i></span>
                            <span class="item_text">Community</span>
                          </a>
                        </li>
                        <li>
                          <a href="signup.html">
                            <span class="item_icon"><i class="fas fa-caret-right"></i></span>
                            <span class="item_text">Newsletter</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col col-md-4 col-sm-4">
                    <div class="footer_widget">
                      <h3 class="footer_widget_title">Intel</h3>
                      <ul class="page_list unordered_list_block">
                        <li>
                          <a href="about.html">
                            <span class="item_icon"><i class="fas fa-caret-right"></i></span>
                            <span class="item_text">About Us</span>
                          </a>
                        </li>
                        <li>
                          <a href="contact.html">
                            <span class="item_icon"><i class="fas fa-caret-right"></i></span>
                            <span class="item_text">Contact</span>
                          </a>
                        </li>
                        <li>
                          <a href="faq.html">
                            <span class="item_icon"><i class="fas fa-caret-right"></i></span>
                            <span class="item_text">FAQ</span>
                          </a>
                        </li>
                        <li>
                          <a href="https://app.termly.io/policy-viewer/policy.html?policyUUID=8ae14d73-8154-4b77-8fef-27b616b87675" target="_blank" rel="noopener noreferrer">
                            <span class="item_icon"><i class="fas fa-caret-right"></i></span>
                            <span class="item_text">Terms</span>
                          </a>
                        </li>
                        <li>
                          <a href="https://app.termly.io/policy-viewer/policy.html?policyUUID=5b290038-59a8-4887-a96d-b3840de8df43" target="_blank" rel="noopener noreferrer">
                            <span class="item_icon"><i class="fas fa-caret-right"></i></span>
                            <span class="item_text">Privacy</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col col-lg-3 col-md-6 col-sm-6">
                <div class="footer_widget">
                  <h3 class="footer_widget_title">Latest Intel</h3>
                  <ul class="blog_small_group unordered_list_block">
                    <li>
                      <a class="blog_small" href="blog_details.html">
                        <span class="item_image">
                          <img src="https://typ-drupal-media.s3.us-east-1.amazonaws.com/images/blog/yeti-iglesias-panEoNcCpYs-unsplash.svg" alt="TYP - Escape the Rat Race">
                        </span>
                        <span class="item_content">
                          <span class="item_author"><i class="fas fa-user-alt"></i> by AJ Dysick</span>
                          <strong class="item_title">Complete Guide to Personal Finance for Young Professionals</strong>
                          <small class="item_post_date">January 31, 2025</small>
                        </span>
                      </a>
                    </li>
                    <li>
                      <a class="blog_small" href="blog_details.html">
                        <span class="item_image">
                          <img src="https://typ-drupal-media.s3.us-east-1.amazonaws.com/images/blog/getty-images-daCANAo7580-unsplash.svg" alt="TYP - Escape the Rat Race">
                        </span>
                        <span class="item_content">
                          <span class="item_author"><i class="fas fa-user-alt"></i> by AJ Dysick</span>
                          <strong class="item_title">How to Build Career Independence: Complete Guide</strong>
                          <small class="item_post_date">January 31, 2025</small>
                        </span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="copyright_widget">
          <div class="container">
            <p class="copyright_text text-center mb-0">
              <a href="https://theyoungprof.com">The Young Prof</a> © <b>The Young Professional Media Group</b>. All rights reserved. Copyright 2025.
            </p>
          </div>
        </div>
      </footer>
